.Rproj.user
.Rhistory
.RData
.Ruserdata
doc
inst/doc
inst/include/aistats2020smi*.h
inst/HPV_partial_cut_stan_*.rds
inst/*_smi_bayes_*.rds
man
Meta
**/**/.DS_Store
src/RcppExports.cpp
src/stanExports*.cc
src/stanExports*.h
**/**/RcppExports.R
src/*.o
src/*.so
vignettes/*.pdf