AISTATS_2020_SMI_supplement-concordance.tex
AISTATS_2020_SMI_supplement.tex
*.aux
*.bbl
*.blg
*.brf
*.dvi
*.fls
*.fdb_latexmk
*.html
*.log
*.lof
*.nav
*.out
*.pdf
*.ps
*.R
*.Rhistory
*.snm
*.synctex.gz
*.synctex(busy)
*.tdo
*.toc
.build.timestamp